# Dependencies
node_modules
.pnpm-store
dist
.next
.turbo
coverage
*.tsbuildinfo

# Env / secrets
.env
.env.local
.env.*.local
!.env.example

# OS / IDE
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json

# Runtime
.run
logs
uploads
.minio-data

# Prisma
packages/database/prisma/*.db
packages/database/prisma/*.db-journal

# Playwright
test-results
playwright-report
